<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="twitter" verbose="1">
  <listeners>
    <listener class-name="package1.CustomListener" />
  </listeners>
    <test name="Notifications"> 
    <parameter name="browser" value="firefox"/>        
               <classes>     
                     <class name="package1.Notifications" />
                     </classes> 
         </test>              
         <test name="TwitterTest"> 
         <parameter name="browser" value="phantomjs"/>             
                 <classes>     
                     <class name="package1.TwitterTest" />
                     </classes>
          </test>           
          <test name="Discovery">   
          <parameter name="browser" value="IE"/>          
                  <classes>    
                     <class name="package1.Discovery" />
                     </classes>
           </test>        
           <test name="Profile">     
           <parameter name="browser" value="chrome"/>        
                   <classes>   
                     <class name="package1.Profile" />
                     </classes>  
              
       </test> 
              <test name="Follow">
              <parameter name="browser" value="IE"/> 
              <classes>
                     <class name="package1.Follow" />
              </classes> 
        </test> 
<!--          <test name="gmail_login"> 
    		        
               <classes>     
                     <class name="package1.CheckXpaths" />
               </classes> 
         </test>  -->
</suite>